body {
    font-family: Arial, sans-serif;
    background-color: #ebffce;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f5b99;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 23px;
}

nav a {
    color: #308ad3;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.content {
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.video-container {
    margin: 20px 0;
}

.anchor {
    margin-top: 55px;
}